<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="/assets/images/logo.svg" width="80">
    </a>
    <button class="navbar-toggler" [ngClass]="{ 'abierto': desplegado }" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" (click)="abrirMenu()">
      <span class="burger-icon"></span>
      <span class="burger-icon"></span>
      <span class="burger-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/futbol']">Fútbol</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div [ngClass]="{ 'menu-mobile': true, 'abierto': desplegado }">
  <ul>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/futbol']">Fútbol</a>
    </li>
  </ul>
</div>
