<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="/assets/images/logo.svg">
    </a>
    <button class="navbar-toggler" [ngClass]="{ 'abierto': show }" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" (click)="show = !show">
      <span class="burger-icon"></span>
      <span class="burger-icon"></span>
      <span class="burger-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/futbol']">Fútbol</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<nav [ngClass]="{ 'collapse navbar-collapse mobile': true, 'show': show }">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']" (click)="show = false">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/futbol']" (click)="show = false">Fútbol</a>
    </li>
    <li class="nav-item mt-2">
      <i class="fas fa-chevron-up fa-2x text-white" (click)="show = false"></i>
    </li>
  </ul>
</nav>
