<form [formGroup]="formPasoModelo" class="ml-md-2">
  <div class="text-md-left text-right">
    <div class="btn-group" role="group">
      <a class="btn" (click)="modelosHombre()" [ngClass]="{ 'seleccionado': generoModelo == 'hombre' }">Hombre</a>
      <a class="btn" (click)="modelosMujer()" [ngClass]="{ 'seleccionado': generoModelo == 'mujer' }">Mujer</a>
    </div>
  </div>
  <div class="contenedor-modelos mt-3 d-inline-block">
    <div class="scroller-modelos ml-1 d-inline-block" *ngFor="let camiseta of camisetaModelos">
      <div class="scroller-hijo" *ngIf="camiseta.visible"  id="modelo-{{ camiseta.id }}">
        <div  class="contenedor-modelo" [ngClass]="camiseta.seleccionado ? 'seleccionado' : ''">
          <div class="zoom" (click)="aumentarZoom(camiseta)">
            <i class="fas fa-camera"></i>
          </div>
          <input type="image" src="{{ camiseta.url }}" (click)="modeloElegido(camiseta.id)" class="modelo"/>
        </div>
      </div>
    </div>
    <div *ngIf="submit && formPasoModelo.controls['modelo'].errors" class="invalid-feedback">
      <div *ngIf="formPasoModelo.controls['modelo'].errors.required">Seleccione un modelo</div>
    </div>
    <div class="text-center">
      <div *ngFor="let seccion of secciones" class="bullet" (click)="scroll(seccion.id)" [ngClass]="seccion.seleccionada ? 'seleccionada' : ''"></div>
    </div>
  </div>
  <div class="form-group mt-3">
    <label class="switch">
      <input class="form-check-input" formControlName="agregarShort" type="checkbox" id="agregar-short">
      <span class="slider round"></span>
    </label>
    <label class="form-check-label" for="agregar-short">Agregar Short</label>
  </div>
  <div class="form-group">
    <label class="switch">
      <input class="form-check-input" formControlName="agregarMedias" type="checkbox" id="agregar-medias" [attr.disabled]="true">
      <span class="slider round"></span>
    </label>
    <label class="form-check-label" for="agregar-medias">Agregar medias</label>
  </div>
</form>
<ng-template #template>
  <div class="modal-body text-center">
    <img [src]="modalText" height="400">
  </div>
</ng-template>
