.carousel {
  &:focus {
    outline: none;
  }
}

.fa-info-circle {
  cursor: pointer;
  color: #8d2429;
}

.form-control:disabled {
  opacity: 0.5;
}

.modelos-camisetas {
  img {
    cursor: pointer;
    &.seleccionado {
      opacity: 1;
    }
  }
}

.btn-group {
  .btn {
    background-color: white;
    color: black;
    display: block;
    width: 100%;
    border: solid 1px black;
    &.seleccionado {
      background-color: #e0e0e0;
    }
    &:focus {
      box-shadow: none;
    }
    &:first-child {
      border-top-left-radius: 0.75rem;
      border-bottom-left-radius: 0.75rem;
    }
    &:last-child {
      border-top-right-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
    }
  }
}
