<form [formGroup]="formPasoModelo">
  <div class="row justify-content-center">
    <div *ngFor="let modelo of camisetaModelos" class="col-md-3 col-6 text-center">
      <div class="modelos-camisetas mt-3">
        <input formControlName="modelo" type="image" src="{{ modelo.url }}" (click)="modeloElegido(modelo.id)" [ngClass]="modelo.seleccionado ? 'seleccionado' : ''"/>
        <label>{{modelo.nombre}}</label>
      </div>
      <div *ngIf="submit && formPasoModelo.controls.modelo.errors" class="invalid-feedback">
        <div *ngIf="formPasoModelo.controls.modelo.errors.required">Seleccione un modelo
        </div>
      </div>
    </div>



  </div>
  <div class="row">
    <div class="form-group">
      <label class="switch">
        <input class="form-check-input" formControlName="agregarShort" type="checkbox" id="agregar-short">
        <span class="slider round"></span>
      </label>
      <label class="form-check-label" for="agregar-short">Agregar Short</label>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label class="switch">
        <input class="form-check-input" formControlName="agregarMedias" type="checkbox" id="agregar-medias">
        <span class="slider round"></span>
      </label>
      <label class="form-check-label" for="agregar-medias">Agregar medias</label>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-4 text-center">
      <a class="btn btn-continuar" (click)="siguiente()">Siguiente</a>
    </div>
  </div>
</form>
<ng-template #content let-modal>
  <div class="modal-body text-center">
    <img src="/assets/images/tutorial.gif" class="img-fluid">
    <div class="row justify-content-center">
      <div class="col-md-5 col-10">
        <button type="button" class="btn btn-naranja btn-block mt-3" (click)="modal.close()">OK</button>
      </div>
    </div>
  </div>
</ng-template>
