<form [formGroup]="formPasoModelo" class="ml-md-2">
  <div class="text-right mr-md-4">
    <div class="btn-group" role="group">
      <a class="btn" (click)="modelosHombre()" [ngClass]="{ 'seleccionado': generoModelo == 'hombre' }">Hombre</a>
      <a class="btn" (click)="modelosMujer()" [ngClass]="{ 'seleccionado': generoModelo == 'mujer' }">Mujer</a>
    </div>
  </div>
  <ngx-slick-carousel class="carousel mt-3" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let camiseta of camisetaModelos" class="slide pt-3 pb-2" [ngClass]="camiseta.seleccionada? 'seleccionado' : ''">
      <div class="zoom" (click)="aumentarZoom(camiseta)"><i class="fas fa-camera"></i></div>
      <input type="image" src="{{ camiseta.url }}" (click)="modeloElegido(camiseta.id)" class="img-fluid m-auto"/>
      <p class="mb-0">{{ camiseta.nombre }}</p>
    </div>
  </ngx-slick-carousel>
  <div *ngIf="submit && formPasoModelo.controls['modelo'].errors" class="invalid-feedback">
    <div *ngIf="formPasoModelo.controls['modelo'].errors.required">Seleccione un modelo</div>
  </div>

</form>
<ng-template #template>
  <div class="modal-body text-center">
    <img [src]="modalText" height="400">
  </div>
</ng-template>
