.fondo {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,253,253,0.5298494397759104) 39%, rgba(0,0,0,0) 100%), url("/assets/images/fondo-estadio.jpg");
  background-size: cover;
  color: white;
  height: 500px;
}
