.tabla-equipo {
  max-height: 250px;
  padding: 0;
}

.btn-group {
  border: solid 1px #1376d9;
  .btn {
    color: #1376d9;
    border-radius: 0;
    &.seleccionado {
      background-color: #1376d9;
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .scroll-mobile .tabla-equipo {
    width: 400px;
    white-space: nowrap;
  }
  .form-check-label {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .btn-subir, select {
    font-size: 0.75rem;
  }
}
