<form [formGroup]="formPasoMedias" class="ml-2">
  <div class="form-group">
    <label class="switch">
      <input class="form-check-input" formControlName="agregarMedias" type="checkbox" id="agregar-medias">
      <span class="slider round"></span>
    </label>
    <label class="form-check-label" for="agregar-medias">Agregar medias</label>
  </div>
  <div *ngIf="agregarMedias">
    <div formArrayName="partesMediasSVG" *ngFor="let parteColor of formPartesArrayControl.controls; index as i" class="form-group">
      <div [formGroupName]="i" class="row">
        <div class="col-md-4 col-8 align-self-center">
          <label>{{parteColor.value.nombreMostrar}}: </label>
        </div>
        <div class="col-md-8 col-4">
          <div class="cuadro-color">
            <div #colorPicker ngx-colors-trigger [palette]="parteColor.value.colores"
                 [hideColorPicker]="true"
                 [hideTextInput]="true"
                 [style.background]="formPartesArrayControl.controls[i].get('color').value ? formPartesArrayControl.controls[i].get('color').value : 'black'"
                 (change)="cambiarColor($event,parteColor.value.idParte)" formControlName="color"></div>
            <i class="fas fa-sort-down fa-lg" (click)="colorPicker.click()"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cartel">
    <div class="overlay" *ngIf="seleccionoSponsors">Próximamente</div>
    <div class="row form-group">
      <div class="col-md-5 col-6 align-self-center">
        <label class="switch">
          <input class="form-check-input" formControlName="agregarSponsorDelantero" type="checkbox" id="lleva-sponsor-delantero">
          <span class="slider round"></span>
        </label>
        <label [attr.disabled]="true" class="form-check-label" for="lleva-sponsor-delantero">Sponsor frente</label>
      </div>
      <div>
        <a [attr.disabled]="true" class="btn btn-subir" (click)="archivo()">Subir <i class="fas fa-upload"></i></a>
        <input [attr.disabled]="true" type="file" class="d-none" #archivoEscudo (change)="subirArchivo($event)">
      </div>
      <div class="col">
        <select [attr.disabled]="true" class="form-control" formControlName="posicionSponsorDelantero">
          <option [ngValue]="null" selected disabled>Posición</option>
          <option *ngFor="let posicion of posicioneSponsorDelantero" [ngValue]="posicion">{{ posicion }}</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-5 col-6 align-self-center">
        <label class="switch">
          <input class="form-check-input" formControlName="agregarSponsorTrasero" type="checkbox" id="lleva-sponsor-trasero">
          <span class="slider round"></span>
        </label>
        <label [attr.disabled]="true" class="form-check-label" for="lleva-sponsor-trasero">Sponsor trasero</label>
      </div>
      <div>
        <a [attr.disabled]="true" class="btn btn-subir" (click)="archivo()">Subir <i class="fas fa-upload"></i></a>
        <input [attr.disabled]="true" type="file" class="d-none" #archivoEscudo (change)="subirArchivo($event)">
      </div>
      <div class="col">
        <select [attr.disabled]="true" class="form-control" formControlName="posicionSponsorTrasero">
          <option [ngValue]="null" selected disabled>Posición</option>
          <option *ngFor="let posicion of posicioneSponsorTrasero" [ngValue]="posicion">{{ posicion }}</option>
        </select>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-5 col-6 align-self-center">
        <label class="switch">
          <input class="form-check-input" formControlName="agregarSponsorManga" type="checkbox" id="lleva-sponsor-manga">
          <span class="slider round"></span>
        </label>
        <label [attr.disabled]="true" class="form-check-label" for="lleva-sponsor-manga">Sponsor manga</label>
      </div>
      <div>
        <a [attr.disabled]="true" class="btn btn-subir" (click)="archivo()">Subir <i class="fas fa-upload"></i></a>
        <input [attr.disabled]="true" type="file" class="d-none" #archivoEscudo (change)="subirArchivo($event)">
      </div>
      <div class="col">
        <select [attr.disabled]="true" class="form-control" formControlName="posicionSponsorManga">
          <option [ngValue]="null" selected disabled>Posición</option>
          <option *ngFor="let posicion of posicionesSponsorManga" [ngValue]="posicion">{{ posicion }}</option>
        </select>
      </div>
    </div>
  </div>
  <div *ngIf="submit && !formPasoMedias.valid" class="invalid-feedback">
    <div *ngIf="!formPasoMedias.valid">Seleccione los campos obligatorios.</div>
  </div>
</form>
