@media screen and (max-width: 768px) {
  .form-check-label {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .btn-subir, select {
    font-size: 0.75rem;
  }
}

@media screen and(max-width: 375px) {
  .btn-secondary, .selector {
    width: 55px;
  }
  .form-check-label {
    font-size: 12px;
  }
}
