<form [formGroup]="formPasoColor">
  <div formArrayName="partesArray" *ngFor="let parteColor of formPartesArrayControl.controls; index as i"
       class="form-group ml-md-2">
    <div [formGroupName]="i" class="row">
      <div class="col-md-8 col-6">
        <label>{{parteColor.value.nombreMostrar}}: </label>
      </div>
      <div class="col-md-4 col-6">
        <div ngx-colors-trigger style="height: 20px; width: 30px;" [palette]="parteColor.value.colores"
                    [hideColorPicker]="true"
                    [hideTextInput]="true"
                    [style.background]="formPartesArrayControl.controls[i].get('color').value ? formPartesArrayControl.controls[i].get('color').value : 'black'"
                    (change)="cambiarColor($event,parteColor.value.idParte)" formControlName="color"></div>
      </div>

    </div>
    <div *ngIf="submit && formPartesArrayControl.controls[i].get('color').errors" class="invalid-feedback">
      <div *ngIf="formPartesArrayControl.controls[i].get('color').errors.required">Seleccione un color</div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 text-right">
      <a class="btn btn-atras" (click)="anterior()">Atrás</a>
    </div>
    <div class="col-4">
      <a class="btn btn-continuar" (click)="siguiente()">Siguiente</a>
    </div>
  </div>
</form>


