.selector {
  background-image: url("/assets/images/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: right 4px top 0;
  width: 60px;
  height: 35px;
  cursor: pointer;
  border: solid 1px black;
  display: block;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  .selector-color {
    background-color: black;
    padding: 8px;
    padding-top: 0;
    padding-left: 16px;
    margin-left: 0.5rem;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.dropdown {
  display: none;
  &.desplegado {
    display: block !important;
    border: solid 1px black;
    position: relative;
    left: 4rem;
    bottom: 2rem;
    z-index: 100;
    li {
      display: block;
      padding: 10px;
      margin-top: 5px;
      margin-right: 8px;
      margin-left: 8px;
      border: solid 1px black;
      &.red {
        background-color: red;
      }
      &.blue {
        background-color: blue;
      }
      &.black {
        background-color: black;
      }
      &.white {
        background-color: white;
      }
      &.yellow {
        background-color: yellow;
      }
      &.green {
        background-color: green;
      }
    }
  }
}
