.fa-plus-circle, .fa-minus-circle {
  color: #8d2429;
  cursor: pointer;
}

.scroll-mobile {
  overflow-x: auto;
}

.tabla-equipo {
  max-height: 450px;
  .titulos {
    background-color: #eeeeee;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.fa-info-circle {
  cursor: pointer;
  color: #8d2429;
}

.form-control:disabled {
  opacity: 0.5;
}

.input-group {
  .form-control {
    border-radius: 0.5rem;
  }
}

.input-group-append {
  .input-group-text {
    display: block;
    padding-top: 15px;
    .fa-sort-up, .fa-sort-down {
      display: flex;
      height: 10px;
      cursor: pointer;
    }
    .fa-sort-up {
      margin-top: -8px;
    }
    .fa-sort-down {
      margin-top: -8px;
    }
  }
}


fieldset {
  margin-bottom: 1rem;
  legend {
    font-weight: 400;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .input-group {
    .form-control {
      border-radius: 0.5rem 0 0 0.5rem;
      border-right: 0;
    }
    .input-group-text {
      border: solid 1px black;
      background-color: white;
      border-radius: 0 0.5rem 0.5rem 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .input-group-append {
    display: none;
  }
  input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
  }
}
