<form [formGroup]="formPasoShort" class="ml-2">
  <div class="form-group">
    <label class="switch">
      <input class="form-check-input" formControlName="agregarShort" type="checkbox" id="agregar-short">
      <span class="slider round"></span>
    </label>
    <label class="form-check-label" for="agregar-short">Agregar Short</label>
  </div>
  <div *ngIf="agregarShort">
    <div formArrayName="partesShortSVG" *ngFor="let parteColor of formPartesArrayControl.controls; index as i" class="form-group">
      <div [formGroupName]="i" class="row">
        <div class="col-md-4 col-8 align-self-center">
          <label>{{parteColor.value.nombreMostrar}}<span *ngIf="submit && !formPartesArrayControl.controls[i].valid" class="text-danger">* </span>: </label>
        </div>
        <div class="col-md-8 col-4">
          <div class="cuadro-color">
            <ngx-colors [id]="'selector-' + i" ngx-colors-trigger [palette]="parteColor.value.colores"
                 [hideColorPicker]="true"
                 [hideTextInput]="true"
                 [style.background]="formPartesArrayControl.controls[i].get('color').value ? formPartesArrayControl.controls[i].get('color').value : 'black'"
                 (change)="cambiarColor($event,parteColor.value.idParte)" formControlName="color"></ngx-colors>
            <i class="fas fa-sort-down fa-lg" (click)="abrirSelector('selector-' + i)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row form-group" *ngIf="agregarShort">
    <div class="col-md-6 col-8">
      <label class="switch">
        <input  class="form-check-input" formControlName="agregarNumeroShort" type="checkbox" id="agregar-numero-short">
        <span class="slider round"></span>
      </label>
      <label class="form-check-label" for="agregar-numero-short">Número en short</label>
    </div>
  </div>
  <div class="row form-group" *ngIf="agregarShort">
    <div class="col-md-5 col-7 align-self-center">
      <label class="switch">
        <input  class="form-check-input" formControlName="agregarEscudoShort" type="checkbox" id="agregar-escudo-short">
        <span class="slider round"></span>
      </label>
      <label  class="form-check-label" for="agregar-escudo-short">Escudo en short</label>
    </div>
    <div class="col-md-6 col-5" *ngIf="agregarEscudoShort && !agregarEscudoDelantero">
      <div class="pl-0">
        <a class="btn btn-subir" [ngClass]="{ 'text-danger border-danger': (submit && !formPasoShort.controls['escudoShort'].valid) || formatoEscudoInvalido }" (click)="archivo()" >Subir escudo <i class="fas fa-upload"></i></a>
        <input type="file" class="d-none" #archivoEscudo (change)="subirArchivo($event)" [attr.disabled]="!agregarShort || agregarEscudoDelantero? true: null">
      </div>
    </div>
  </div>
  <div *ngIf="submit && !formPasoShort.valid" class="invalid-feedback">
    <div *ngIf="!formPasoShort.valid">*Obligatorio.</div>
  </div>
  <div *ngIf="formatoEscudoInvalido" class="invalid-feedback">
    <div>*El formato del archivo debe ser png o jpg.</div>
  </div>
</form>
