<div class="ml-md-2 mr-md-0 mx-2">
  <div class="form-group row">
    <div class="col-6 text-left">
      <label for="modelo">Modelo</label>
      <input id="modelo" readonly class="form-control" value="{{formResumenPrecio.modelo}}">
    </div>
    <div class="col-6 text-left">
      <label for="cantidadJugadores">Jugadores</label>
      <input id="cantidadJugadores" type="number" readonly class="form-control" value="{{formResumenPrecio.cantidadJugadores}}">
    </div>
  </div>
  <fieldset>
    <legend>
      Cotización
    </legend>
    <div class="row form-group">
      <label for="precioCamiseta" class="col-lg-5 col-md-6 col-6">Precio por camiseta:</label>
      <div class="col-lg-5 col-md-6 col-6">
        <input id="precioCamiseta" type="number" readonly class="form-control" value="{{formResumenPrecio.precioCamiseta}}">
      </div>
    </div>
    <div class="row form-group">
      <label for="precioShort" class="col-lg-5 col-md-6 col-6">Precio por short:</label>
      <div class="col-lg-5 col-md-6 col-6">
        <input id="precioShort" type="number" readonly class="form-control" value="{{formResumenPrecio.precioShort}}">
      </div>
    </div>
    <div class="row form-group">
      <label for="precioMedias" class="col-lg-5 col-md-6 col-6">Precio por medias:</label>
      <div class="col-lg-5 col-md-6 col-6">
        <input id="precioMedias" type="number" readonly class="form-control" value="{{formResumenPrecio.precioMedias}}">
      </div>
    </div>
    <div class="row form-group">
      <label for="precioConjunto" class="col-lg-5 col-md-6 col-6">Precio por cada conjunto:</label>
      <div class="col-lg-5 col-md-6 col-6">
        <input id="precioConjunto" type="number" readonly class="form-control" value="{{formResumenPrecio.precioConjunto}}">
      </div>
    </div>
    <hr>
    <div class="row form-group">
      <label for="precioTotal" class="col-lg-5 col-md-6 col-6">Precio total:</label>
      <div class="col-lg-5 col-md-6 col-6">
        <input id="precioTotal" type="number" readonly class="form-control" value="{{formResumenPrecio.precioConjunto}}">
      </div>
    </div>
  </fieldset>
</div>




