<div class="row justify-content-center">
  <div class="col-md-11 col-12">
    <div class="form-group">
      <label>¿Tiene short?</label>
      <input readonly class="form-control" value="{{formCheckOut.llevaShort ? 'SI' : 'NO' }}">
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-4 text-right">
    <a class="btn btn-atras" (click)="anterior()">Atrás</a>
  </div>
  <div class="col-4">
    <a class="btn btn-continuar" (click)="confirmar()">Confirmar</a>
  </div>
</div>
