<div class="row justify-content-center">
  <div class="col-md-11 col-12">
    <div class="form-group row">
      <div class="col-md-6 col-6">
        <label>Modelo</label>
        <input readonly class="form-control" value="{{formCheckOut.modelo}}">
      </div>
      <div class="col-md-6 col-6">
        <label>Equipo</label>
        <input readonly class="form-control" value="{{formCheckOut.nombreEquipo}}">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-4">
        <label>Short</label>
        <div class="btn-group d-flex" role="group">
          <a class="btn" [ngClass]="{ 'seleccionado': formCheckOut.agregarShort }">Si</a>
          <a class="btn" [ngClass]="{ 'seleccionado': !formCheckOut.agregarShort }">No</a>
       </div>
      </div>
      <div class="col-6 offset-2">
        <label>Contacto</label>
        <input readonly class="form-control" value="{{formCheckOut.nombreContacto}}">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-4">
        <label>Medias</label>
        <div class="btn-group d-flex" role="group">
          <a class="btn" [ngClass]="{ 'seleccionado': formCheckOut.agregarMedias }">Si</a>
          <a class="btn" [ngClass]="{ 'seleccionado': !formCheckOut.agregarMedias }">No</a>
        </div>
      </div>
      <div class="col-6 offset-2">
        <label>Jugadores</label>
        <input type="number" readonly class="form-control" value="{{formCheckOut.cantidadJugadores}}">
      </div>
    </div>
  </div>
</div>
