<div class="form-group">
  <form [formGroup]="formNumero">
    <div>
      <label>Para tu Camiseta</label>
      <div>
        <div class="form-check form-switch" *ngFor="let radioCamiseta of seleccionCamiseta">
          <input class="form-check-input" type="radio" name="camisetaValor" id="radioCamiseta"
                 (click)="checkCamiseta(radioCamiseta)">
          <label class="form-check-label">{{radioCamiseta}}</label>
        </div>

        <div class="form-group">
          <label class="form-check-label" for="lleva-nro-frontal">¿Vas a agregar número frontal?</label>
          <label class="switch">
            <input class="form-check-input" formControlName="llevaNroFrontal" type="checkbox" value=""
                   id="lleva-nro-frontal" (change)="llevaNroFrontal = !llevaNroFrontal">
            <span class="slider round"></span>
          </label>
        </div>

        <div class="" *ngIf="llevaNroFrontal">
          <select class="form-control" formControlName="posicionNumeroCamiseta">
            <option>Seleccione</option>
            <option *ngFor="let posicion of posicionesNumeroCamiseta">{{posicion}}</option>
          </select>
        </div>
      </div>
    </div>
    <div *ngIf="llevaShort">
      <label>Para tu Short</label>
      <div class="form-check form-switch" *ngFor="let radioShort of seleccionShort">
        <input class="form-check-input" type="radio" name="numeroShort" id="radioShort"
               (click)="checkShort(radioShort)">
        <label class="form-check-label">{{radioShort}}</label>
      </div>
      <div class="" *ngIf="esNumeroShort">
        <select class="form-control" formControlName="posicionNumeroSort">
          <option>Seleccione número frontal</option>
          <option *ngFor="let posicion of posicionesNumeroShort">{{posicion}}</option>
        </select>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-4">
        <a class="btn btn-light btn-block" (click)="anterior()">Atrás</a>
      </div>
      <div class="col-4">
        <a class="btn btn-naranja btn-block" (click)="siguiente()">Siguiente</a>
      </div>
    </div>
  </form>
</div>





