<div class="fondo">
  <div class="container pt-3">
    <h3 class="text-white text-center font-weight-bold my-3">Diseña tu conjunto de fútbol</h3>
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <div class="btn-group" role="group">
              <a class="btn btn-naranja" [routerLink]="['/futbol']" [queryParams]="{ 'categoria': 'basica' }" routerLinkActive="active-link">Básicas</a>
              <a class="btn btn-naranja" [routerLink]="['/futbol']" [queryParams]="{ 'categoria': 'intermedia' }" routerLinkActive="active-link">Intermedias</a>
              <a class="btn btn-naranja" [routerLink]="['/futbol']" [queryParams]="{ 'categoria': 'premium' }" routerLinkActive="active-link">Premium</a>
              <a class="btn btn-naranja" [routerLink]="['/futbol']" [queryParams]="{ 'categoria': 'diseño-propio' }" routerLinkActive="active-link">Diseño propio</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8 mt-3">
            <ul class="indicador-progreso" [ngClass]="paso">
              <li>
                <a (click)="pasoCamiseta('camiseta')">1</a>
                <h5>Camiseta</h5>
              </li>
              <li>
                <a (click)="pasoShort('short')">2</a>
                <h5>Short</h5>
              </li>
              <li>
                <a (click)="pasoNumero('numero')">3</a>
                <h5>Número</h5>
              </li>
              <li>
                <a (click)="pasoEquipo('equipo')">4</a>
                <h5>Equipo</h5>
              </li>
              <li>
                <a (click)="pasoCheckout('checkout')">5</a>
                <h5>Checkout</h5>
              </li>
            </ul>
            <div class="paso mt-3" [ngSwitch]="paso">
              <app-camiseta *ngSwitchCase="'camiseta'"></app-camiseta>
              <app-numero *ngSwitchCase="'numero'" (click)="confirmarNumero($event)"></app-numero>
              <app-short *ngSwitchCase="'short'"></app-short>
              <app-equipo *ngSwitchCase="'equipo'"></app-equipo>
              <app-checkout *ngSwitchCase="'checkout'"></app-checkout>
            </div>
          </div>
          <div class="col-4">
            <img src="/assets/images/messi.png" height="500">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
