<div class="container pb-4 pt-5">
  <ul class="indicador-progreso" [ngClass]="paso">
    <li>
      <a placement="top" ngbTooltip="Modelo" triggers="click">1</a>
    </li>
    <li>
      <a placement="top" ngbTooltip="Colores" triggers="click">2</a>
    </li>
    <li>
      <a placement="top" ngbTooltip="Detalles" triggers="click">3</a>
    </li>
    <li>
      <a placement="top" ngbTooltip="Equipo" triggers="click" >4</a>
    </li>
    <li>
      <a placement="top" ngbTooltip="Precios" triggers="click">5</a>
    </li>
  </ul>
  <fieldset class="mt-3">
    <legend>{{ nombreMostrarPaso }}</legend>
    <div class="row">
      <div class="mt-2 px-0 {{ paso == 'modelo' ? 'col-12' : 'col-md-6 col-12' }} ">
        <div [ngSwitch]="paso">
          <app-modelo *ngSwitchCase="'modelo'" (proximoPaso)="siguiente($event)" (modeloSeleccionado)="modeloSeleccionado($event)" [formModelo]="formModelo"></app-modelo>
          <app-color *ngSwitchCase="'color'" (colorSeleccionado)="cambiarColor($event)" (anteriorPaso)="anterior($event)" (proximoPaso)="siguiente($event)" [formColor]="formColor"></app-color>
          <app-camiseta *ngSwitchCase="'camiseta'" (colorSeleccionado)="cambiarColor($event)" (visualizarEstampado)="visualizarEstampado($event)" (archivoEscudo)="archivoEscudo($event)" (anteriorPaso)="anterior($event)" (proximoPaso)="siguiente($event)" [formCamiseta]="formCamiseta" (cambiarTipografia)="cambiarTipografia($event)"></app-camiseta>
          <app-short *ngSwitchCase="'short'" (colorSeleccionado)="cambiarColor($event)" (anteriorPaso)="anterior($event)" [formShort]="formShort" (visualizarEstampado)="visualizarEstampado($event)" (archivoEscudo)="archivoEscudo($event)" (proximoPaso)="siguiente($event)"></app-short>
          <app-medias *ngSwitchCase="'medias'" (colorSeleccionado)="cambiarColor($event)" (anteriorPaso)="anterior($event)" (proximoPaso)="siguiente($event)" [formMedias]="formMedias"></app-medias>
          <app-equipo *ngSwitchCase="'equipo'" (anteriorPaso)="anterior($event)" (proximoPaso)="siguiente($event)" [formEquipo]="formEquipo"></app-equipo>
          <app-resumen-precio *ngSwitchCase="'resumen-precio'" (anteriorPaso)="anterior($event)"[formResumenPrecio]="formResumenPrecio"></app-resumen-precio>
        </div>
      </div>
      <div class="col-md-6 col-12 align-self-center text-center">
        <app-persona [paso]="paso"></app-persona>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="{{ paso == 'resumen-precio' ? 'col-5' : 'col-6' }} text-right col-md-4" *ngIf="paso != 'modelo'">
        <a class="btn btn-atras" (click)="anterior()">Atrás</a>
      </div>
      <div class="col-6 col-md-4" [ngClass]="{ 'text-center': paso == 'modelo' }" *ngIf="paso != 'resumen-precio'">
        <a class="btn btn-continuar" (click)="siguiente()">Siguiente</a>
      </div>
      <div class="col-md-4 col-7" *ngIf="paso == 'resumen-precio'">
        <a class="btn btn-primary btn-confirmar" (click)="generarPedido(formResumenPrecio)">Confirmar</a>
        <i class="fas fa-info-circle fa-lg info ml-md-3 ml-2" placement="top" [ngbTooltip]="confirmar" triggers="click" tooltipClass="tooltip-mobile"></i>
      </div>
    </div>
  </fieldset>
</div>
<ng-template #confirmar>Al <b>Confirmar</b>, un asesor te contactará para coordinar el pago y la entrega.</ng-template>
<ng-template #template>
  <div class="modal-header border-bottom">
    <h4 class="modal-title">hacetucamiseta.com.ar</h4>
    <button type="button" class="close" aria-label="Close" (click)="cerrar()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="row justify-content-center">
      <div class="col-10">
        <p>{{modalText}}</p>
      </div>
    </div>
  </div>
</ng-template>
