<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-12 text-md-left mt-md-0 mt-3">
        <h5 class="mb-3">CONTACTANOS</h5>
        <p><i class="fab fa-whatsapp mr-2"></i> <a href="tel:351 386-0000" class="text-dark">351 386-0000</a></p>
        <p><i class="far fa-envelope mr-2"></i> <a href="mailto:qombasport@gmail.com" class="text-dark">qombasport@gmail.com</a></p>
        <p><i class="fas fa-map-marker-alt mr-2"></i> Monseñor Ferreyra 6.080 – Córdoba - Argentina</p>
      </div>
    </div>
  </div>
</footer>
