<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-12 text-md-left text-center">
        <img src="/assets/images/logo-blanco.svg" width="160">
      </div>
      <div class="col-md-4 col-12 text-md-left mt-md-0 mt-3">
        <h4 class="mb-3">CONTACTANOS</h4>
        <p><i class="fab fa-whatsapp mr-1"></i> Teléfono</p>
        <p><i class="far fa-envelope mr-1"></i> Email</p>
        <p><i class="fas fa-map-marker-alt mr-2"></i> Dirección</p>
      </div>
    </div>
  </div>
</footer>
