/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/Ubuntu-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Ubuntu-Bold.ttf') format('truetype');
  font-display: swap;
}

html, body {
  font-family: 'Ubuntu', sans-serif;
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1240px;
  }
}

.btn-naranja {
  background-color: #8d2429;
  color: white;
  border-radius: 0;
}

.btn-light {
  border-radius: 0;
}

.invalid-feedback {
  display: block;
}

.triangle {
  display: none;
}

.triangleShadow {
  display: none;
}

g {
  transition: opacity 200ms ease;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  &.parte-seleccionada {
    opacity: 0.5;
  }
}

.color-picker {
  background-color: gray;
  padding: 10px;
  margin-top: 7rem;
  margin-bottom: 2rem;
  .circle-picker {
    width: 100% !important;
    align-items: center;
    justify-content: center;
  }
}

.modal {
  .modal-content {
    background-color: gray;
    border-radius: 0;
    button:focus {
      box-shadow: none;
    }
  }
}
